<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Geometry </title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/bootstrap.css">

</head>

<body>
    <div id="app" class="container">
        <div class="col">
            <div class="col">
                <label>New layer name:</label>
                <div class="input-group">
                    <input v-model="layer_name" class="form-control" v-bind:class="{ 'is-invalid': !layer_valid }"
                        placeholder="Layer name" type="text">
                    <div class="input-group-append">
                        <span class="input-group-text">

                            <input v-model.lazy="color" class="form-control" type="color">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Select start point:</label>
                    <select class="form-control custom-select" v-model='selected_1'>
                        <option :value="null" disabled hidden>Select Layer</option>
                        <template v-if="layers">
                            <template v-if="layers" v-for="name in valid_layers_name">
                                <option v-bind:value="name">{{name}}</option>
                            </template>
                        </template>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Select end point:</label>
                    <select class="form-control custom-select" v-model='selected_2'>
                        <option :value="null" disabled hidden>Select Layer</option>
                        <template v-if="layers">
                            <template v-if="layers" v-for="name in valid_layers_name">
                                <option v-bind:value="name">{{name}}</option>
                            </template>
                        </template>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Select obstacle:</label>
                    <select class="form-control custom-select" v-model='selected_3'>
                        <option :value="null" disabled hidden>Select Layer</option>
                        <template v-if="layers">
                            <template v-if="layers" v-for="name in valid_layers_name">
                                <option v-bind:value="name">{{name}}</option>
                            </template>
                        </template>
                    </select>
                </div>
            </div>
            <div class="col" style="padding-top: 20px; ">
                <button type="button" class="add-layer" v-on:click="create_layer">Add</button>
            </div>
        </div>
    </div>


    <script src="../scripts/popper.js"></script>
    <script src="../scripts/tooltip.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/turf.js"></script>
    <script src="../scripts/vue.js"></script>

    <script>
        const electron = require('electron');
        const { ipcRenderer } = electron;

        let app = new Vue({
            el: '#app',
            data: {
                type: null,

                coords_valid: false,

                selected_1: null,
                selected_2: null,
                selected_3: null,

                data: null,

                layers: null,
                layer_name: null,
                layer_valid: false,

                color: null,
            },
            watch: {
                // validates new layer name
                layer_name: function (new_layer, old_layer) {
                    if (!this.layers_name.includes(new_layer) && new_layer) { this.layer_valid = true }
                    else { this.layer_valid = false }
                },
                // update date when changed
                selected_1: function (n, o) {
                    this.create_data()
                },
                // update date when changed
                selected_2: function (n, o) {
                    this.create_data()
                },
                // update date when changed
                selected_3: function (n, o) {
                    this.create_data()
                },
            },
            computed: {
                // determines if the layer is valid and can be returned to the map
                valid: function () {
                    return (this.coords_valid && this.layer_valid)
                },
                // returns the valid layer names
                valid_layers_name() {
                    return this.valid_layers.map((l) => { return l.name })
                },
                // get geosjon from selected layer
                selected_1_layer_data() {
                    return this.layers[this.selected_1].data
                },
                // get geosjon from selected layer
                selected_2_layer_data() {
                    return this.layers[this.selected_2].data
                },
                // get geosjon from selected layer
                selected_3_layer_data() {
                    return this.layers[this.selected_3].data
                },
            },
            methods: {
                // read data from selected layer and calculate the shortest path if the data is valid
                create_data() {
                    let bg = document.getElementsByClassName('add-layer')[0].style.background;
                    document.getElementsByClassName('add-layer')[0].style.background = 'red';
                    try {
                        let start = this.selected_1_layer_data;
                        let end = this.selected_2_layer_data;
                        let options = {
                            obstacles: turf.flatten(this.selected_3_layer_data),
                            units: 'meters',
                            resolution: 10,
                        };
                        this.data = turf.shortestPath(start, end, options);
                        this.coords_valid = true
                    }
                    catch (err) {
                        //throw(err)
                        // if an error occurs, we set the data to null
                        this.data = null;
                        this.coords_valid = false;
                    }
                    document.getElementsByClassName('add-layer')[0].style.background = bg;
                },

                set_app_state(state) {
                    this.layers = state.layers;
                    this.layers_name = Object.keys(state.layers);
                    this.$set(this, 'color', state.color);
                    this.layer_name = state.name
                    this.coords = state.coords
                    document.title += ' ' + state.type
                    this.type = state.type;

                    this.valid_layers = Object.values(state.layers).filter(function (l) {
                        return true
                    })
                },
                create_layer() {
                    if (this.valid) {
                        ipcRenderer.send('geometry:add_new', {
                            layer: {
                                name: this.layer_name.toString(),
                                style: {
                                    color: this.color,
                                },
                                data: this.data,
                            },
                        });
                    } else {
                        // not a valid layer so we have to notify which input is invalid
                        let ofs = 0;
                        let invalid_fields = document.getElementsByClassName('is-invalid');
                        function sleep(time) {
                            return new Promise((resolve) => setTimeout(resolve, time)).then(() => {
                                for (let i = 0; i < invalid_fields.length; i++) {
                                    invalid_fields[i].style.background = 'rgba(255,0,0,' + Math.abs(Math.sin(ofs * Math.PI)) + ')';
                                }
                                ofs += 0.1;
                                if (ofs < 1) {
                                    sleep(time)
                                } else {
                                    for (let i = 0; i < invalid_fields.length; i++) {
                                        invalid_fields[i].style.background = 'rgba(255,0,0,0)';
                                    }
                                }
                            }
                            )
                        }
                        sleep(20)
                    }
                },
            }
        })
        // adds the type to app
        ipcRenderer.on('geometry:type', function (event, state) {
            app.set_app_state(state)
        });
    </script>
</body>

</html>