<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Add </title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/bootstrap.css">
</head>

<body>
    <div id="app" class="container">
        <div class="col">
            <div class="col">
                <label>New layer name:</label>
                <div class="input-group">
                    <input v-model="layer_name" class="form-control" v-bind:class="{ 'is-invalid': !layer_valid }"
                        placeholder="Layer name" type="text">
                    <div class="input-group-append">
                        <span class="input-group-text">

                            <input v-model.lazy="color" class="form-control" type="color">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <label>Insert coordinates:</label>
                <textarea v-model="coords" class="form-control" v-bind:class="{ 'is-invalid': !coords_valid }"
                    :placeholder="type_placeholder" type="text">
                </textarea>
            </div>
            <div class="col" style="padding-top: 20px; ">
                <button type="button" class="add-layer" v-on:click="create_layer">Add</button>
            </div>
        </div>
    </div>

    <script src="../scripts/popper.js"></script>
    <script src="../scripts/tooltip.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/turf.js"></script>
    <script src="../scripts/vue.js"></script>

    <script>
        const electron = require('electron');
        const { ipcRenderer } = electron;

        let app = new Vue({
            el: '#app',
            data: {
                type: null,
                type_turf: null,
                type_placeholder: null,
                layers_name: null,

                coords: null,
                coords_valid: false,
                layer_name: null,
                layer_valid: false,
                color: null,
                data: null,
            },
            watch: {
                // validates new layer name
                layer_name: function (new_layer, old_layer) {
                    if (!this.layers_name.includes(new_layer) && new_layer) { this.layer_valid = true }
                    else { this.layer_valid = false }
                },
                // validates the input data, and creates the data with turf
                coords: function (new_data, old_data) {
                    try {
                        let parsed_data = JSON.parse(new_data)
                        this.data = this.type_turf(parsed_data)
                        // set coords to valid to be able to return the layer
                        this.coords_valid = true
                    }
                    catch (err) {
                        // if an error occurs, we disable the add button
                        this.data = null;
                        this.coords_valid = false;
                    }
                },
            },
            computed: {
                // determines if the layer is valid and can be returned to the map
                valid: function () {
                    return (this.coords_valid && this.layer_valid)
                },
            },
            methods: {
                set_app_type(state) {
                    this.layers_name = Object.keys(state.layers);
                    // set the given color from the main window
                    this.$set(this, 'color', state.color);
                    this.layer_name = state.name
                    // set coords if coords was provided
                    this.coords = state.coords
                    switch (state.type) {
                        case 'Point':
                            document.title += ' ' + state.type
                            this.type = state.type;
                            this.type_turf = turf.point
                            this.type_placeholder = '[ x, y ]'
                            break;
                        case 'Line':
                            document.title += ' ' + state.type
                            this.type = state.type;
                            this.type_turf = turf.lineString
                            this.type_placeholder = '[ [ x1, y1 ], [ x2, y2], ... ]'
                            break;
                        case 'Polygon':
                            document.title += ' ' + state.type
                            this.type = state.type;
                            this.type_turf = turf.polygon
                            this.type_placeholder = '[ [ [ x1, y1 ], [ x2, y2], ..., [ x1, y1] ], ... ]'
                            break;
                    }
                },
                create_layer() {
                    if (this.valid) {
                        ipcRenderer.send('layer:add_new', {
                            layer: {
                                name: this.layer_name.toString(),
                                style: {
                                    color: this.color,
                                },
                                data: this.data,
                            },
                        });
                    } else {
                        // not a valid layer so we have to notify which input is invalid
                        let ofs = 0;
                        let invalid_fields = document.getElementsByClassName('is-invalid');
                        function sleep(time) {
                            return new Promise((resolve) => setTimeout(resolve, time)).then(() => {
                                for (let i = 0; i < invalid_fields.length; i++) {
                                    invalid_fields[i].style.background = 'rgba(255,0,0,' + Math.abs(Math.sin(ofs * Math.PI)) + ')';
                                }
                                ofs += 0.1;
                                if (ofs < 1) {
                                    sleep(time)
                                } else {
                                    for (let i = 0; i < invalid_fields.length; i++) {
                                        invalid_fields[i].style.background = 'rgba(255,0,0,0)';
                                    }
                                }
                            }
                            )
                        }
                        sleep(20)
                    }
                },
            }
        })
        // adds the type to app
        ipcRenderer.on('create:type', function (event, state) {
            app.set_app_type(state)
        });
    </script>
</body>

</html>